header{
    border-bottom: 2px solid rgb(0,0,0);
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    align-self: center;   
}

li{
    padding: 5px;
}

a{
    text-decoration: none;
    color: rgb(0, 153, 0);

}
